**/mods/
**/modsOLD/
*.txt
win64/Starbound.exe
npm-debug.log
*.pyc
*.pyc
*.pyc
*.exe
__pycache__
*.player
*.bak1
*.shipworld
.idea/misc.xml
.idea/modules.xml
.idea/Starbound_updater.iml
.idea/vcs.xml
.idea/workspace.xml
Starbound_Updater.exe
